.cards {
    list-style: none;
    white-space: nowrap;
    max-width: calc(var(--cover-size) * 6);
    overflow: scroll;
  }
  
  .cards li {
    display: inline-block;
    width: var(--cover-size);
    aspect-ratio: 1;
  }
  
  .cards li img {
    width: 100%;
    height: auto;
    -webkit-box-reflect: below 0.5em linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
  }

  .cards {
    list-style: none;
    white-space: nowrap;
    max-width: calc(var(--cover-size) * 6);
    overflow: scroll;
  }
  
  .cards li {
    display: inline-block;
    width: var(--cover-size);
    aspect-ratio: 1;
  }
  
  .cards li img {
    width: 100%;
    height: auto;
    -webkit-box-reflect: below 0.5em linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
  }
  .cards li {
    view-timeline-name: --li-in-and-out-of-view;
    view-timeline-axis: inline;
  }
  
  @keyframes adjust-z-index {
    0% {
      z-index: 1;
    }
    50% {
      z-index: 100; /* 中央にあるときは最前面に */
    }
    100% {
      z-index: 1;
    }
  }
  
  @keyframes rotate-cover {
    0% {
      transform: translateX(-100%) rotateY(90deg);
    }
    /* ... 途中のキーフレーム ... */
    100% {
      transform: translateX(100%) rotateY(90deg);
    }
  }
  
  .cards li {
    animation: linear adjust-z-index both;
    animation-timeline: --li-in-and-out-of-view;
    perspective: 40em;
  }
  
  .cards li > img {
    animation: linear rotate-cover both;
    animation-timeline: --li-in-and-out-of-view;
  }
  
.test-div{
  color:#576ca8;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
}

.fadeup-button{
  animation-name:fadeup;
  animation-duration: 5s;
}
  @keyframes fadeup{
      from{
          opacity: 0;
          transform:translateY(100px)
      }
      to{
          opacity: 1;
          transform: translateY(0px);
      }

    }
