@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Permanent+Marker&display=swap');
@supports (-webkit-touch-callout: none) {
  html {
    height: -webkit-fill-available;
  }
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color:#302b27;
    background-color: #f5f3f5;
  }
}
.fadeup-name{
  animation-name:fadeup;
  animation-duration: 3s;
}
  @keyframes fadeup{
      from{
          opacity: 0;
          transform:translateY(30px)
      }
      to{
          opacity: 1;
          transform: translateY(0px);
      }

  }
  .fadeup-logo{
    animation-name:fadeup;
    animation-duration: 3s;
  }
    @keyframes fadeup{
        from{
            opacity: 0;
            transform:translateY(50px)
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
  
    }

    .timeline {
      width: 95%;
      max-width: 940px;
      margin-right: auto;
      margin-left: auto;
      padding:2em;/*内側余白*/
      border-radius: 150px 20px/100px 100px;
      border: 8px solid #576ca8;

      z-index: 100;
    }
    
    .timeline-list {
      padding: 0px 0;
    }
    
    .timeline-list-item {
      display: flex;
      line-height: 1.5;
      font-size: 16px;
    }
    
    .timeline-list-item .date {
      width: 35%;
      padding: 0 0 0 5px;
      color:#302b27;
      font-weight: bold;
      font-size:12px
    }
    
    .timeline-list-item .content {
      position: relative;
      width: 70%;
      padding: 0 0px 10px 20px;
      border-left: 2px solid #1b264f;
      font-size: 17px;
      color:#302b27;
      font-family: 'Noto Serif JP', serif;
    }
    
    .timeline-list-item .content::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      width: 20px;
      height: 20px;
      background-color: #576ca8;
      border-radius: 10px;
      z-index: 1;
    }
.title{
  font-family: 'Permanent Marker', cursive;
  font-size: 30px
}
.fadeup-overall{
  animation-name:fadeup;
  animation-duration: 2s;
}
  @keyframes fadeup{
      from{
          opacity: 0;
          transform:translateY(20px)
      }
      to{
          opacity: 1;
          transform: translateY(0px);
      }

  }