html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.fadeup-name{
  animation-name:fadeup;
  animation-duration: 3s;
}
  @keyframes fadeup{
      from{
          opacity: 0;
          transform:translateY(30px)
      }
      to{
          opacity: 1;
          transform: translateY(0px);
      }

  }
  .fadeup-logo{
    animation-name:fadeup;
    animation-duration: 3s;
  }
    @keyframes fadeup{
        from{
            opacity: 0;
            transform:translateY(50px)
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
  
    }
  